/*
Color Palete
rgb(104,103,174) ----- Deep Purple
rgb(230,230,230) ----- Light Grey
rgb(153,186,225) ----- Light Blue
rgb(177,149,182) ----- Light Purple
rgb(181,226,225) ----- Very Light Blue
rgb(239,225,96)  ----- Yellow
*/
/*Font Styles */

p{
	color: black;
}

/*Separator*/

@font-face {
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}
/* Seperator and section colors */
.jumbotron1
 {
 	padding: 0px;
 	background-image: url(../images/blue.png);
 	margin-bottom: 0px;
 	position: relative;
 	z-index: 99;
 	min-height: 43px;
 }
 .jumbotron2
 {
 	padding: 0px;
 	background-image: url(../images/db_border.png);
 	margin-bottom: 0px;
 	position: relative;
 	z-index: 99;
 	min-height: 43px;
 }
.section1
{
	background-color:rgb(153,186,225);
}
.section2
{
	background-color: rgb(104,103,174);
}
.section3
{
	background-color: rgb(52,33,120);
}
.row
{
	margin: 0px;
}
/*End of Separator and section colors*/

/* Changes Navbar colors */
header, .navbar-default{
background-color:rgb(153,186,225); 
	border: none;
}
/* End of Navbar Colors */


/* Navbar Font Colors */
.navbar-default .navbar-nav>li>a
{
	color: rgb(104,103,174);
}
/*End of Navbar Font Colors */

/* Dropdown Navbar Styles */
.navbar-default .navbar-nav .open .dropdown-menu>li>a,.navbar-default .navbar-nav .open .dropdown-menu {
	line-height: 30px;
    background-color: rgb(181,226,225);
    color: rgb(104,103,174);
}
/*End of Dropdown Styles */
.down{
	padding-top: 2em;
}

 .jumbotron
 {
 	padding: 0px;
 	background-size: cover;
 	background-image: url(../images/atkinson-16.jpg);
 	margin-bottom: 0px;
 }
div h2{
	margin-bottom: 4em;
}

/* Program Section*/
.title
	{
	border-bottom: 4px groove rgb(104,103,174);
	margin-top: 80px;
	}
.section3 .title
{
	border-bottom: groove rgb(225,225,225);
	margin-top:80px;
	color:rgb(225,225,225);
}
.programs, .rates{
	margin-top:35px;
	margin-bottom: 80px;
}

.thumbnail{
	background-color: transparent;
	border:none;
}
/* End of Program Section  */

/* Rate Styles */
.list {
  min-width: 15em;
}
.first {
  float: left;
  margin-right: 0.5em;
 
}
.price {
  float: right;
  margin-left: 0.5em;
  width: 4em;
  text-align: right;
}
.list:after {
  content: '';
  border-bottom: dotted 2px black;
  display: block;
  overflow: hidden;
  height: 0.8em;
}

/* End of Rate Styles */

/* Start of Contact */
form{
	color: rgb(225,225,225);
}

 /* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	.jumbotron
	{
		min-height: 200px;
	} 
	.navbar-nav>li>a
	{
		padding-bottom: 0px;
	}
		.navbar-brand
	{
	    position: absolute;
	    width: 100%;
	    left: 0;
	    text-align: center;
	    margin: auto;
	}
	.navbar-left, .navbar-right
	{
	border-bottom: 2px groove rgb(104,103,174);
	}
	ul.navbar-left
	{
		margin-left: 20%;
	}

	ul.navbar-right
	{
		margin-right: 20%;
	}

	.navbar-nav li a, .navbar-brand
	{
		line-height: 30px; /* <--- Changes height of Navbar */
	}
	/* End of Navbar Styles */
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.jumbotron
	{
		min-height: 250px;
	}
	.navbar-nav>li>a
	{
	padding-bottom: 0px;
	}
		.navbar-brand
	{
	    position: absolute;
	    width: 100%;
	    left: 0;
	    text-align: center;
	    margin: auto;
	}
	.navbar-left, .navbar-right
	{
	border-bottom: 2px groove rgb(104,103,174);
	}
	ul.navbar-left
	{
		margin-left: 20%;
	}

	ul.navbar-right
	{
		margin-right: 20%;
	}

	.navbar-nav li a, .navbar-brand
	{
		line-height: 30px; /* <--- Changes height of Navbar */
	}
	/* End of Navbar Styles */
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	.jumbotron
	{
		min-height: 300px;
	}
	.navbar-nav>li>a
	{
		padding-bottom: 0px;
	}
	.navbar-brand
	{
	    position: absolute;
	    width: 100%;
	    left: 0;
	    text-align: center;
	    margin: auto;
	}
	.navbar-left, .navbar-right
	{
	border-bottom: 2px groove rgb(104,103,174);
	}
	ul.navbar-left
	{
		margin-left: 20%;
	}

	ul.navbar-right
	{
		margin-right: 20%;
	}

	.navbar-nav li a, .navbar-brand
	{
		line-height: 30px; /* <--- Changes height of Navbar */
	}
	/* End of Navbar Styles */
}